@{
    ViewBag.Title = "Home Page";
}
<br />


<div class="container-fluid">
    <div class="col-lg-12" style="text-align: center">
        <h2>Coming soon...<i>under development</i></h2>
        <br />
        <img src="~/Images/placeholder.jpeg"/>
    </div>
</div>